.addButton{
    background-color: red; 
    background-image: linear-gradient(to right, #e8929c , #e68c5c);
    border: none;
    outline: none;
}
.container-fluid{
    background: #edeae8;
    padding:30px;

}
.sub-heading{
    font-size: 12px;
}
.section{
    background: #fff;
    margin-top:20px;
    padding: 20px 10px;
}
.inputLikeBox{
border: 1px solid #eee;
padding: 6px 15px;
color: #a7a4a4;
border-radius: 5px;
margin-top:5px;
}
.componentSett{
    margin-top:15px;

}
.section2{
    padding-bottom: 46px;
}
.floatRight{
    float: right;
    cursor: pointer;
}