


<div class="container-fluid">


<div class="row">
 
  <div class="col-sm-8 ">
  <h4>Component Configuration</h4>
  <p class="sub-heading">Component/Component Configuration </p>
  </div>
  <div class="col-sm-4 text-right " >
  <button class=" btn btn-primary addButton" (click)='addComponent()'>+&nbsp;Add Component</button>
    </div>
</div>

<div class="row  section section1">

  <div class="col-sm-12 " >
      <h5>General Settings</h5>
  </div>
</div>

<div class="row section section2">
    <!-- offset-sm-1 -->
  <div class="col-sm-12 ">
      <h5>Components </h5>
  </div>


  <div class="col-sm-4 componentSett"  *ngFor='let component of componentsList;let i = index'>
  <span> {{ component }}</span>   <span class="glyphicon glyphicon-trash floatRight" (click)='deleteComponent(i)'> delete</span> 
<div class="inputLikeBox">
    {{ component }}
   </div>

  </div>

  <div class="col-sm-4 componentSett" *ngIf='componentsList.length ==0'>
No component found.
  </div>
</div>

</div>


